# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
*.env

# IDE 配置文件
.idea/
.vscode/

# 日志文件
*.log

# pytest 缓存
.cache/
*.pytest_cache/

# Allure 报告
allure-results/
allure-reports/

# 测试报告
report/
*.html

# 快照文件
snapshots/

# 操作系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.swp
*.bak
*.orig
*.~*

# 忽略环境配置文件
environment.properties